.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear,  App-logo-color infinite 1s linear;
  height: 900px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(720deg);}
}

@keyframes App-logo-color {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}