html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body{
  //background-image: url("https://www.gitescdn.nl/system/site_settings/homepage_images/000/000/001/high/open-uri20180403-6409-han2c8.jpg?1522765140");
  font-family: "gitesfake";
}

//----- NAVBAR -----//

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.hd-navbar{
  margin: auto;
  width: 70%;
  height: 85px;
}

li#hd-navbar-tab {
  float: left;
  font-family: "gitesfake";
}
li#hd-navbar-tab a {
  display: block;
  color: #2a0f4a;
  text-align: center;
  margin: 25px 26px;
  text-decoration: none;
  padding: 5px 6px;
  transform: scale(1, .85);
  
}
li#hd-navbar-tab a:hover {
  border-bottom: 2px solid orangered;
}

li#hd-navbar-button {
  float: right;
  font-family: "gitesfake";
  //transform: scale(1, .85);
}
li#hd-navbar-button a {
  display: block;
  color: white;
  background-color: #fe3a06;
  padding: 8px 13px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}


//----- CUSTOM CLASSES & ID'S -----//
//--- NAVBAR ---//
.hd-navbar{
  margin: auto;
  width: 70%;
  height: 85px;
}
.hd-navbar-mobile{
  display: none;
  margin: auto;
  width: 70%;
  height: 85px;
}

.hamburger-bundle{
  position: absolute;
  right: 25px;
  top: 25px;
}

.hamburger {
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  border-radius: 25px;
}


.hd-container{
  width: 100%;
  height: 5%;
  margin: 0; 
  background-color: rgba(255,255,255,1);
  box-shadow: 0px 0px 5px 1px #6e6e6e; 
}

//--- SPACER ---//
.ct-spacer{
  margin-top: -21px;
  margin-bottom: 0;
  height: 634px;
  width: auto;
  background-image: url("https://www.gitescdn.nl/system/themes/header_images/000/000/017/header/wintersport.jpg?1452004382");
  background-repeat: no-repeat;
  background-size: cover;
}

//--- CONTENT TITLE ---//
.ct-title-container{
  width: 100%;
  height: 150px;
  background-color: #F9E84F;
}

.ct-title-spacing{
  margin: auto;
  padding: 35px;
  width: 60%;
  height: 80px;
}

#ct-title-name{
  text-align: center;
  color: #18092a;
  font-family: "gitesfake";
  transform: scale(1, .85);
  font-weight: 100;
  font-size: 50px;
  margin: auto;
  padding:5px;
}

//--- CONTENT BODY ---//
.ct-body-container{
  width: 100%;
  height: auto;
  background-color: #fff;
}

.ct-body-spacing{
  margin: auto;
  padding: 35px;
  width: 32%;
}

#ct-body-title{
  color: #18092a;
  font-weight: 100;
  letter-spacing: 1px;
}

#cs-body-content{
  color: #646464 ;
  font-family: "CentraleSans", Arial, sans-serif;
  line-height: 2;
  font-size: 14px;
  margin: 0 0 1.5em;
}

//--- SEARCHER ---/
.search-container{
  position: relative;
  width: 55%;
  margin: auto;
  background-color: #fafafa;
  border-radius: 10px;
  top: 250px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2); 
}

li#search-list-tab {
  float: left;
  font-family: "gitesfake";
  background-color: #fff;
  padding: 30px;
}
li#search-list-tab-persons {
  float: left;
  font-family: "gitesfake";
  background-color: #fff;
  padding: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#search_max_persons {
  padding-bottom:3px;
}

li#search-list-tab a {
  display: block;
  color: #2a0f4a;
  text-align: center;
  margin: 25px 26px;
  text-decoration: none;
  padding: 5px 6px;
  transform: scale(1, .85);
  
}
li#search-list-tab a:hover {
  border-bottom: 2px solid orangered;
}

li#search-list-button {
  float: right;
  font-family: "gitesfake";
  background-color: orangered;
  //transform: scale(1, .85);
}
#search-list-button {
  display: block;
  color: white;
  background-color: #fe3a06;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.search-button{
  background-color: orangered;
  border: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 43px;

}

input, label {
  display:block;
}


//--- ASSETS ---//
.gites_logo {
  height: 60px;
  margin-top: 10px;
}

@font-face {
  font-family: "gitesfake";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

//Responsiveness


@media (max-width: 1100px) {
  .hd-navbar {
    display: none;
  }
  .hd-navbar-mobile{
    display: block;
  }
  .ct-spacer{
    min-width: 100%;
    min-height: 300px;
    max-height: 600px;
    height:auto;
  }
  .ct-body-spacing{
    margin-right: 10%;
    margin-left: 10%;
    padding: 35px;
    width: 80%;
  }

} 
@media (max-width: 900px){
  #ct-title-name{
    font-size: 40px;
    }
  .ct-body-spacing{
  margin: auto;
  padding: 35px;
  width: 32%;
  }
  
}
@media (max-width: 800px) {
  .ct-spacer{
    min-width: 100%;
    min-height: 250px;
    max-height: 300px;
    height:auto;
  }
  #ct-title-name{
    font-size: 35px;
  }
  .ct-body-spacing{
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 0px;
    padding-left: 0px;
    width: 80%;
  }
}
@media (max-width: 600px) {
  .ct-spacer{
    min-width: 100%;
    min-height: 150px;
    max-height: 300px;
    height:auto;
  }
  .ct-title-container{
    height: 100px;
  }
  #ct-title-name{
    font-size: 28px;
    margin-top: -10px;
  }
  .ct-body-spacing{
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 0px;
    padding-left: 0px;
    width: 80%;
  }
}