html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body{
  background-image: url("https://www.gitescdn.nl/system/site_settings/homepage_images/000/000/001/high/open-uri20180403-6409-han2c8.jpg?1522765140");
  background-size: cover;
}


.hd-container{
  width: 100%;
  height: 5%;
  margin: 0; 
  background-color: #567843;
}
 .hd-title{
   color: #103480;
 }